# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# pip
pip-log.txt
pip-delete-this-directory.txt

# distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# dotenv
.env
